<!--<div>-->
<!--  <button mat-icon-button class="mr-2">-->
<!--    <fa-icon icon="users" style="font-size: 35px;"></fa-icon>-->
<!--  </button>-->
<!--  Liste des employés-->
<!--</div>-->
<div class="d-flex justify-content-center">
  <ashrh-search [placeholder]="'name, state'" (searchValueChange)="queryFactory(['search'],$event)"></ashrh-search>
</div>
<div class="action mb-2">
  <button mat-raised-button color="primary" class="text-white mr-2" (click)="openDialog('add')">
    <fa-icon icon="plus"></fa-icon>&nbsp;
    <span class="d-none d-sm-inline">{{"New Leaves" | translate}}</span>
  </button>
  <button mat-button color="primary" class="mr-2" style="border: 1px solid;" (click)="displayFilter()">
    <fa-icon icon="filter"></fa-icon>
    Filter
  </button>
  <!--
  <button color="primary" (click)="activateAll()" [disabled]="moreOneSelect" mat-button
    style="background: white;border: 1px solid;" class="mr-2">{{"Activate" | translate}}</button>

  <button color="warn" [disabled]="moreOneSelect" (click)="deactivateAll()"  mat-button
    style="background: white;border: 1px solid;">{{"Deactivate" | translate}}</button> -->


  <button color="warn" [disabled]="moreOneSelect" (click)="deleteAll()" mat-button
    style="background: white;border: 1px solid;margin-left: 10px;">{{"Delete" | translate}}</button>


</div>

<div class="table-responsive flex-fill rounded-top">
  <table mat-table [dataSource]="dataSource" [multiTemplateDataRows]="true" class="mat-elevation-z4 w-100 ashrh-table">

    <!-- selection column -->
    <ng-container matColumnDef="selection">
      <th mat-header-cell *matHeaderCellDef class="text-nowrap c-a">
        <mat-checkbox color="accent" [ngModel]="watchAll()" (change)="checkAll($event)"></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let element" class="text-center" style="padding: 0 20px;">
        <mat-checkbox color="primary" [(ngModel)]="element.select"></mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="selection_filter">
      <th mat-header-cell *matHeaderCellDef class="text-nowrap c-a">
      </th>
    </ng-container>

    <!-- name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="min-cell c-a"> {{"wording" | translate}} </th>
      <td mat-cell *matCellDef="let element" class="min-cell"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="name_filter">
      <th mat-header-cell *matHeaderCellDef>
        <!-- <input type="search" class="form-control filter-input" placeholder="type name"> -->
        <ashrh-simple-input type="search" placeholder="type Wording" class="filter-input"
          (valueChange)="queryFactory('name',$event)"></ashrh-simple-input>
      </th>
    </ng-container>

    <!-- date_soumision Column -->
    <ng-container matColumnDef="date_soumission">
      <th mat-header-cell *matHeaderCellDef class="min-cell c-a"> {{"Date of Soumission" | translate}} </th>
      <td mat-cell *matCellDef="let element" class="min-cell"> {{element.date_soumission | date}} </td>
    </ng-container>
    <ng-container matColumnDef="date_soumission_filter">
      <th mat-header-cell *matHeaderCellDef>
        <!-- <input type="search" class="form-control filter-input" placeholder="type name"> -->
        <ashrh-simple-date-picker type="search" placeholder="YYYY-MM-DD" class="filter-input"
          (valueChange)="queryFactory('date_soumission',serverFormatDatePipe.transform($event))">
        </ashrh-simple-date-picker>
      </th>
    </ng-container>

    <!-- start date column -->
    <ng-container matColumnDef="start_date">
      <th mat-header-cell *matHeaderCellDef class="min-cell c-a"> {{"Start date" | translate}} </th>
      <td mat-cell *matCellDef="let element" class="min-cell"> {{element.start_date | date}} </td>
    </ng-container>
    <ng-container matColumnDef="start_date_filter">
      <th mat-header-cell *matHeaderCellDef class="text-nowrap c-a">
        <!-- <ashrh-simple-input type="search" placeholder="type start date" class="filter-input"
          (valueChange)="queryFactory('created_at',serverFormatDatePipe.transform($event))">
        </ashrh-simple-input> -->
        <!-- <input type="search" class="form-control filter-input" placeholder="type start date"> -->
        <ashrh-simple-date-picker type="search" placeholder="YYYY-MM-DD" class="filter-input"
          (valueChange)="queryFactory('start_date',serverFormatDatePipe.transform($event))"></ashrh-simple-date-picker>
      </th>
    </ng-container>

    <!-- start date column -->
    <ng-container matColumnDef="end_date">
      <th mat-header-cell *matHeaderCellDef class="min-cell c-a"> {{"end date" | translate}} </th>
      <td mat-cell *matCellDef="let element" class="min-cell"> {{element.end_date | date}} </td>
    </ng-container>
    <ng-container matColumnDef="end_date_filter">
      <th mat-header-cell *matHeaderCellDef class="text-nowrap c-a">
        <!-- <ashrh-simple-input type="search" placeholder="type start date" class="filter-input"
          (valueChange)="queryFactory('created_at',serverFormatDatePipe.transform($event))">
        </ashrh-simple-input> -->
        <!-- <input type="search" class="form-control filter-input" placeholder="type start date"> -->
        <ashrh-simple-date-picker type="search" placeholder="YYYY-MM-DD" class="filter-input"
          (valueChange)="queryFactory('end_date',serverFormatDatePipe.transform($event))"></ashrh-simple-date-picker>
      </th>
    </ng-container>

    <!-- contact -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef class="min-cell c-a"> {{"State" | translate}} </th>
      <td mat-cell *matCellDef="let element" class="min-cell"> {{element.state}} </td>
    </ng-container>
    <ng-container matColumnDef="state_filter">
      <th mat-header-cell *matHeaderCellDef class="text-nowrap c-a">
        <ashrh-simple-input type="search" placeholder="type state" class="filter-input"
          (valueChange)="queryFactory('state',$event)"></ashrh-simple-input>
        <!-- <select (valueChange)="queryFactory('state',$event)">
          <option value="'PENDING">
            penging
          </option>
        </select> -->
        <!-- <input type="search" class="form-control filter-input" placeholder="type contact"> -->
      </th>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="min-cell c-a"> {{"Actions" | translate}} </th>
      <td mat-cell *matCellDef="let element" class="min-cell">
        <button mat-icon-button class="btn-30" color="primary" (click)="openDialog(element.id)">
          <fa-icon icon="eye"></fa-icon> Details
        </button>
        <!-- <button mat-icon-button class="btn-30" color="warn"><fa-icon icon="trash"></fa-icon>Delete</button> -->
      </td>
    </ng-container>
    <ng-container matColumnDef="actions_filter">
      <th mat-header-cell *matHeaderCellDef class="text-nowrap c-a">
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumnsFilter" [@filterExpand]="filterExpand"
      style="transform-origin: top"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div class="d-flex justify-content-end">
  <mat-paginator [pageSizeOptions]="pageSizeOption" [length]="lengh" [pageSize]="pageSize" (page)="setPage($event)"
    showFirstLastButtons style="background-color: transparent" class="resp-paginator">
  </mat-paginator>
</div>


<ng-template #dialogTemplate let-modal let-data>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete employee</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete this profile?</strong></p>
    <p>This action will lead to its suspension and it will not be visible in the other services of the platform.</p>
  </div>
  <div class="modal-footer">
    <button type="button" ngbAutofocus class="btn btn-outline-secondary"
      (click)="modal.dismiss(false)">{{'no'|translate}}</button>
    <button type="button" class="btn btn-danger" (click)="modal.close(true)">{{'yes'|translate}}</button>
  </div>
</ng-template>
