<h2 class="mb-3 form-title" style="margin-bottom: 30px;">Formulaire de Fiche de Paie</h2>
<form [formGroup]="payslipForm" (ngSubmit)="onSubmit(form.value)" #form="ngForm">
  <div class="form-group row">
    <label for="irpp" class="col-sm-3 col-form-label">{{"Irpp:" | translate}}</label>
    <input type="number" id="irpp" name="irpp" formControlName="irpp">
  </div>
  <div class="form-group row">
    <label for="performence" class="col-sm-3 col-form-label">{{"Performance:" | translate}}</label>
    <input type="number" id="performence" name="performence" formControlName="performence">
  </div>
  
  <div style="padding-top: 50px; margin-left: 150px; display: flex;">
      <button mat-raised-button color="primary" class="text-white mr-2" type="button" (click)="onCancel()">Annuler</button>
      <button mat-raised-button color="primary" class="text-white mr-2" type="submit">Valider</button>
  </div>
</form>
