<div class="profile-left">
  <div class="card c-p bg-a radius">
    <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
    <div class="avatar">
      <img [src]="picture" alt="" (error)="picture = defaultImage" />
    </div>
    <div>
      <p><span class="text-uppercase">{{ _.get(user, 'person.first_name') }}</span> {{ _.get(user, 'person.last_name') }}<br>{{user.post?.name}}</p>
      <p>Tel: {{_.get(user, 'person.phone')}}</p>
    </div>
  </div>
</div>
<!--profile detaillé-->
<div class="mat-elevation-z2 flex-grow-1 radius flex-fill overflow-auto p-2">
  <div class="d-flex justify-content-between p-2 bg-p-o-50">
    <span class="text-large">{{"About" | translate}}</span>
    <div>
      <button mat-button class="bg-a text-white mr-2" [routerLink]="[update_employee,id]">
        <fa-icon icon="pencil-alt"></fa-icon>
        {{"Edit" | translate}}
      </button>
      <button (click)="deleteEmployee()" mat-button class="bg-w text-white">
        <fa-icon icon="trash"></fa-icon>
        {{"Delete" | translate}}
      </button>
    </div>
  </div>
  <div class="p-2 parent justify-content-between">
    <div class="child">
      <h3 style="font-size: 1.4em;">{{about[0].title}}</h3>
      <div class="child-content">
        <ng-container *ngIf="user?.person">
          <ng-container *ngFor="let item of about[0].keys">
            <span>{{ item.key | translate}}:</span> <span>{{ user.person[item.key]}}</span>
          </ng-container>
          <span>Code:</span> <span>{{ user.code }}</span>
          <span>{{'start_date' | translate}}:</span> <span>{{ _.get(user, 'person.created_at') | date }}</span>
        </ng-container>
      </div>
    </div>
    <div class="child">
      <h3 style="font-size: 1.4em;">{{about[1].title}}</h3>
      <div class="child-content">
        <ng-container *ngIf="user?.post">
          <ng-container *ngFor="let item of about[1].keys">
            <span>{{item.key | translate}}:</span> <span>{{user?.post[item.key] || '--'}}</span>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="child">
      <h3 style="font-size: 1.4em;">{{about[2].title}}</h3>
      <div class="child-content">
        <ng-container *ngIf="user?.emergency_person">
          <!-- *ngIf="user.emergency_contact" -->
          <ng-container *ngFor="let item of about[2].keys">
            <span>{{item.key | translate}}:</span> <span>{{user.emergency_person[item.key] || '--'}}</span>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="child" *ngIf="user.emergency_person_2">
      <h3 style="font-size: 1.4em;">{{about[3].title}}</h3>
      <div class="child-content">
        <!-- *ngIf="user.emergency_contact" -->
        <ng-container *ngFor="let item of about[3].keys">
          <span>{{item.key | translate}}:</span> <span>{{user.emergency_person_2[item.key] || '--'}}</span>
        </ng-container>
      </div>
    </div>
  </div>
</div>
