<div class="d-flex flex-fill" style="justify-content: space-between;">
  <div class="text-white pl-3">
    <button mat-icon-button style="font-size: 28px;">
      <fa-icon icon="home"></fa-icon>
    </button>
    {{"Dashboard" | translate}}
  </div>
</div>


<div class="flex-fill d-flex justify-content-center align-items-center overflow-hidden p-2" style="height: 95%">
  <div class="modules-container p-2">
    <ng-container *ngFor="let module of modules" >
      <div class="module-container mat-elevation-z4" matRipple matTooltipPosition="above" [matTooltip]="module.description" [routerLink]="module.route">
        <div style="height: 100px;background-color: white;" class="rounded-top w-100 d-flex justify-content-center align-items-center">
          <img [src]="module.image" >
        </div>
        <div class="p-2 rounded-bottom overflow-hidden text-white module-name text-uppercase d-flex justify-content-center align-items-center" [style.background]="module.textBgColor">
          {{module.name | translate}}
        </div>
      </div>
    </ng-container>
  </div>
</div>
