<!--<div>-->
<!--  <button mat-icon-button class="mr-2">-->
<!--    <fa-icon icon="users" style="font-size: 35px;"></fa-icon>-->
<!--  </button>-->
<!--  Liste des employés-->
<!--</div>-->
<div class="d-flex justify-content-center">
  <ashrh-search [placeholder]="'nom, prénom, email, téléphone'" (searchValueChange)="queryFactory(['search'],$event)"></ashrh-search>
</div>
<div class="action mb-2">
  <button mat-raised-button color="primary" class="text-white mr-2" [routerLink]="new_employee">
    <fa-icon icon="plus"></fa-icon>&nbsp;
    <span class="d-none d-sm-inline">{{"New Employee" | translate}}</span>
  </button>
  <button mat-button color="primary" class="mr-2" style="border: 1px solid;" (click)="filterExpand = !filterExpand">
    <fa-icon icon="filter"></fa-icon>
    Filter
  </button>

  <button color="primary" (click)="activateAll()" [disabled]="moreOneSelect" mat-button
    style="background: white;border: 1px solid;" class="mr-2">{{"Activate" | translate}}</button>

  <button color="warn" [disabled]="moreOneSelect" (click)="deactivateAll()"  mat-button
    style="background: white;border: 1px solid;">{{"Deactivate" | translate}}</button>


    <button color="warn" [disabled]="moreOneSelect"  (click)="deleteAll()" mat-button
    style="background: white;border: 1px solid;margin-left: 10px;">{{"Delete" | translate}}</button>


</div>

<div class="table-responsive flex-fill rounded-top">
  <table mat-table [dataSource]="dataSource" [multiTemplateDataRows]="true" class="mat-elevation-z4 w-100 ashrh-table">

    <!-- selection column -->
    <ng-container matColumnDef="selection">
      <th mat-header-cell *matHeaderCellDef class="text-nowrap c-a">
        <mat-checkbox color="accent" [ngModel]="watchAll()" (change)="checkAll($event)"></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let element" class="text-center" style="padding: 0 20px;">
        <mat-checkbox color="primary" [(ngModel)]="element.select"></mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="selection_filter">
      <th mat-header-cell *matHeaderCellDef class="text-nowrap c-a">
      </th>
    </ng-container>

    <!-- name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="min-cell c-a"> {{"Name" | translate}} </th>
      <td mat-cell *matCellDef="let element" class="min-cell"> {{element.person.first_name + ' ' + element.person.last_name}} </td>
    </ng-container>
    <ng-container matColumnDef="name_filter">
      <th mat-header-cell *matHeaderCellDef>
        <!-- <input type="search" class="form-control filter-input" placeholder="type name"> -->
        <ashrh-simple-input type="search" placeholder="type name" class="filter-input"
          (valueChange)="queryFactory(['first_name'],$event)"></ashrh-simple-input>
      </th>
    </ng-container>

    <!-- function Column -->
    <ng-container matColumnDef="fonction">
      <th mat-header-cell *matHeaderCellDef class="min-cell c-a"> {{"Function" | translate}}</th>
      <td mat-cell *matCellDef="let element" class="min-cell"> {{element.post?.name}} </td>
    </ng-container>
    <ng-container matColumnDef="fonction_filter">
      <th mat-header-cell *matHeaderCellDef class="text-nowrap c-a">
        <ashrh-simple-input type="search" placeholder="type function" class="filter-input"
          (valueChange)="queryFactory('post__name',$event)"></ashrh-simple-input>
        <!-- <input type="search" class="form-control filter-input" placeholder="type function"> -->
      </th>
    </ng-container>

    <!-- start date column -->
    <ng-container matColumnDef="start_date">
      <th mat-header-cell *matHeaderCellDef class="min-cell c-a"> {{"Hiring date" | translate}} </th>
      <td mat-cell *matCellDef="let element" class="min-cell"> {{element.created_at | date}} </td>
    </ng-container>
    <ng-container matColumnDef="start_date_filter">
      <th mat-header-cell *matHeaderCellDef class="text-nowrap c-a">
        <!-- <ashrh-simple-input type="search" placeholder="type start date" class="filter-input"
          (valueChange)="queryFactory('created_at',serverFormatDatePipe.transform($event))">
        </ashrh-simple-input> -->
        <!-- <input type="search" class="form-control filter-input" placeholder="type start date"> -->
        <ashrh-simple-date-picker type="search" placeholder="type start date" class="filter-input"
          (valueChange)="queryFactory('created_at',serverFormatDatePipe.transform($event))"></ashrh-simple-date-picker>
      </th>
    </ng-container>

    <!-- contact -->
    <ng-container matColumnDef="contact">
      <th mat-header-cell *matHeaderCellDef class="min-cell c-a"> {{"Contact" | translate}} </th>
      <td mat-cell *matCellDef="let element" class="min-cell"> {{element.person.phone}} </td>
    </ng-container>
    <ng-container matColumnDef="contact_filter">
      <th mat-header-cell *matHeaderCellDef class="text-nowrap c-a">
        <ashrh-simple-input type="search" placeholder="type contact" class="filter-input"
          (valueChange)="queryFactory('phone',$event)"></ashrh-simple-input>
        <!-- <input type="search" class="form-control filter-input" placeholder="type contact"> -->
      </th>
    </ng-container>

    <!-- status -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="min-cell c-a"> {{"Status" | translate}} </th>
      <td mat-cell *matCellDef="let element" class="min-cell">
        <mat-slide-toggle color="primary" [(ngModel)]="element.activate" (change)="setUser(element)"></mat-slide-toggle>
        <!-- {{element.activate?'Activer':'Desactiver'}} -->
      </td>
    </ng-container>
    <ng-container matColumnDef="status_filter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-slide-toggle color="primary" (change)="queryByPassFactory(['activate'],$event.checked)"></mat-slide-toggle>
      </th>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="min-cell c-a"> {{"Actions" | translate}} </th>
      <td mat-cell *matCellDef="let element" class="min-cell">
        <button mat-icon-button class="btn-30" color="primary" [routerLink]="[profil_employee,element.id]">
          <fa-icon icon="eye"></fa-icon> Details
        </button>
        <!-- <button mat-icon-button class="btn-30" color="warn"><fa-icon icon="trash"></fa-icon>Delete</button> -->
      </td>
    </ng-container>
    <!-- <ng-container matColumnDef="download">
      <th mat-header-cell *matHeaderCellDef class="min-cell c-a"> {{"Download Contract" | translate}} </th>
      <td mat-cell *matCellDef="let element" class="min-cell">
        <button mat-icon-button class="btn-30" color="primary" (click) = "download(element)">
          <fa-icon icon="save"></fa-icon> {{"Download" | translate}}
        </button> -->
        <!-- <button mat-icon-button class="btn-30" color="warn"><fa-icon icon="trash"></fa-icon>Delete</button> -->
      <!-- </td> -->
    <!-- </ng-container> -->

    <ng-container matColumnDef="downloadBadge">
      <th mat-header-cell *matHeaderCellDef class="min-cell c-a"> {{"Download Badge" | translate}} </th>
      <td mat-cell *matCellDef="let element" class="min-cell">
        <button mat-icon-button class="btn-30" color="primary" (click) = "downloadBadge(element)">
          <fa-icon icon="save"></fa-icon> {{"Download" | translate}}
        </button>
        <!-- <button mat-icon-button class="btn-30" color="warn"><fa-icon icon="trash"></fa-icon>Delete</button> -->
      </td>
    </ng-container>

    <ng-container matColumnDef="regenerateQRCode">
      <th mat-header-cell *matHeaderCellDef class="min-cell c-a"> {{"RegenerateQRCode" | translate}} </th>
      <td mat-cell *matCellDef="let element" class="min-cell">
        <button mat-icon-button class="btn-30" color="primary" (click) = "regenerateQRCode(element)">
          <fa-icon icon="save"></fa-icon> {{"Regenerate" | translate}}
        </button>
        <!-- <button mat-icon-button class="btn-30" color="warn"><fa-icon icon="trash"></fa-icon>Delete</button> -->
      </td>
    </ng-container>
    <ng-container matColumnDef="actions_filter">
      <th mat-header-cell *matHeaderCellDef class="text-nowrap c-a">
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumnsFilter" [@filterExpand]="filterExpand"
      style="transform-origin: top"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div class="d-flex justify-content-end">
  <mat-paginator [pageSizeOptions]="pageSizeOption" [length]="lengh" [pageSize]="pageSize" (page)="setPage($event)"
    showFirstLastButtons style="background-color: transparent" class="resp-paginator">
  </mat-paginator>
</div>


<ng-template #dialogTemplate let-modal let-data>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete employee</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete this profile?</strong></p>
    <p>This action will lead to its suspension and it will not be visible in the other services of the platform.</p>
  </div>
  <div class="modal-footer">
    <button type="button" ngbAutofocus class="btn btn-outline-secondary"
      (click)="modal.dismiss(false)">{{'no'|translate}}</button>
    <button type="button" class="btn btn-danger" (click)="modal.close(true)">{{'yes'|translate}}</button>
  </div>
</ng-template>
